<!DOCTYPE html>
<html>
<head>
    <title>RecAnalyst demo</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <style>
        .Page {
            width: 800px;
        }

        .Category {
            max-height: 540px;
            overflow-y: auto;
            padding: 20px;
        }

        .General {
            display: flex;
            justify-content: space-around;
        }

        .Teams {
            display: flex;
        }
        .Team {
            margin: 20px;
        }

        .Advancing-player {
            width: 200px;
            padding: 10px;
        }

        .Player-name {
            text-align: center;
            font-weight: bold;
        }
        .Player-civ {
            float: right;
        }

        .ResearchesLine {
        }
        .ResearchesLine-player {
            float: left;
            width: 200px;
        }

        .Research {
            float: left;
            text-align: center;
            margin-left: 10px;
        }
        .Research-time {
            color: #444;
        }

        .u-playerColor {
            /* To make colours a bit more bearable: put a 50% opaque white layer on top of them. */
            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        }
    </style>
</head>
<body>
    <div class="container Page">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#general" aria-controls="general" role="tab" data-toggle="tab">
                    General
                </a>
            </li>
            <li role="presentation">
                <a href="#achievements" aria-controls="achievements" role="tab" data-toggle="tab">
                    Achievements
                </a>
            </li>
            <li role="presentation">
                <a href="#advancing" aria-controls="advancing" role="tab" data-toggle="tab">
                    Advancing
                </a>
            </li>
            <li role="presentation">
                <a href="#chat" aria-controls="chat" role="tab" data-toggle="tab">
                    Chat
                </a>
            </li>
            <li role="presentation">
                <a href="#researches" aria-controls="researches" role="tab" data-toggle="tab">
                    Researches
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane Category active" id="general">
                <div class="General">
                    <dl class="General-info dl-horizontal">
                        <dt>Version</dt>
                        <dd>{{ rec.version.name }}</dd>

                        <dt>Duration</dt>
                        <dd>{{ rec.body.duration|formatGameTime() }}</dd>

                        <dt>Type</dt>
                        <dd>{{ rec.gameSettings.gameType }}</dd>

                        <dt>Map</dt>
                        <dd>{{ rec.gameSettings.mapName }}</dd>

                        <dt>PoV</dt>
                        <dd>{{ pov ? pov.name : 'Unknown' }}</dd>
                    </dl>
                    <div class="General-map">
                        <img src="{{ mapImage }}">
                    </div>
                </div>
                <h2>Teams</h2>
                <div class="Teams">
                    {% for team in rec.teams %}
                        <div class="Team">
                            <strong>Team {{ team.index }}</strong>
                            {% for player in team.players %}
                                <div class="Player">
                                    <strong class="Player-name" style="color: {{ player.color }}">
                                        {{ player.name }}
                                    </strong>
                                    <span class="Player-civ">{{ player.civName }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane Category" id="achievements">
                <div class="Achievements">
                    {% if rec.achievements %}
                        {% for player in rec.players %}
                            <strong>{{ player.name }}</strong>
                            {{ player.achievements|json_encode() }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane Category" id="advancing">
                <div class="Advancing Teams">
                    {% for team in rec.teams %}
                        <div class="Advancing-team Team">
                            <strong>Team {{ team.index }}</strong>
                            {% for player in team.players %}
                                <div class="Advancing-player Player u-playerColor"
                                    style="background-color: {{ player.color }};">
                                    <p class="Player-name">
                                        {{ player.name }} <small>({{ player.civName }})</small>
                                    </p>
                                    <ol class="list-unstyled">
                                        <li>Feudal: {{ player.feudalTime|formatGameTime() }}</li>
                                        <li>Castle: {{ player.castleTime|formatGameTime() }}</li>
                                        <li>Imperial: {{ player.imperialTime|formatGameTime() }}</li>
                                    </ol>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane Category" id="chat">
                <div class="Chat">
                    <div class="Chat-pregame">
                        <h3>Pregame</h3>
                        {% for message in rec.header.pregameChat %}
                            <div class="ChatMessage">
                                <span class="ChatMessage-sender">{{ message.player.name }}</span>:
                                {{ message.msg }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="Chat-ingame">
                        <h3>In-game</h3>
                        {% for message in rec.body.chatMessages %}
                            <div class="ChatMessage">
                                <span class="ChatMessage-time">
                                    {{ message.time|formatGameTime() }}
                                </span>
                                {% if message.player %}
                                    <span class="ChatMessage-sender" style="color: {{ message.player.color }}">
                                        {{ message.player.name }}
                                    </span>:
                                    {{ message.msg }}
                                {% else %}
                                    <em>{{ message.msg }}</em>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane Category" id="researches">
                <div class="Researches">
                    {% for player in rec.players %}
                        <div class="Researches-line clearfix ResearchesLine u-playerColor"
                            style="background-color: {{ player.color }};">
                            <div class="ResearchesLine-player">
                                {{ player.name }}
                            </div>
                            <div class="ResearchesLine-researches">
                                {% for research in player.researches %}
                                    <div class="Research">
                                        <div class="Research-time">{{ research.time|formatGameTime() }}</div>
                                        <img class="Research-img" src="{{ research|getResearchImage() }}">
                                        <div class="Research-name">{{ research|getResearchName() }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>
</html>